:root {
    --bg: #f1f5f9;
    --card: #ffffff;
    --text: #0f172a;
    --subtext: #64748b;
    --primary: #111;
    --accent: #22c55e;
    --shadow: rgba(0,0,0,0.2);
    --bg-tnb: #
}

body.dark {
    --bg: #020617;
    --card: #0f172a;
    --text: #e2e8f0;
    --subtext: #94a3b8;
    --primary: #fff;
    --accent: #22c55e;
    --shadow: rgba(95, 119, 139, 0.2);
    --bg-tnb: #

}

/* BASE */
body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    transition: 0.3s;
}

/* CARD */
#login-area, #radio-area {
    background: var(--card);
    padding: 35px;
    border-radius: 18px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 30px var(--shadow);
    transition: 0.3s;
}

/* INPUT */
input {
    width: 93%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background: #e2e8f0;
    color: #000;
}

/* BOTÃO ENTRAR */
#start-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--text);
    color: var(--bg);
    cursor: pointer;
    
}

/* BOTÃO PTT */
#ptt-btn {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: none;
    background: #dc2626;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.2s;
}

/*BOTÃO LOGOUT*/ /* BOTÃO TEMA */

#theme-toggle,
#logout-btn {
    background: var(--text);
    color: var(--bg);

    border: none;
    padding: 10px 14px;

    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    transition: 0.2s;
}

#theme-toggle:hover,
#logout-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* GRAVANDO */
#ptt-btn.recording {
    background: var(--accent);
    animation: pulse 1s infinite;
}

/* TEXTO */
#status {
    font-size: 14px;
    color: var(--subtext);
}

.speaker-info {
    height: 24px;
    margin-bottom: 10px;
    color: #f59e0b;
}
#menu {
    position: fixed;       /* 🔥 fixa na tela */
    top: 20px;             /* distância do topo */
    right: 20px;            /* distância da esquerda */
    display: flex;
    flex-direction: column; /* 🔥 deixa em coluna */
    gap: 5px;              /* espaço entre botões */
    z-index: 1000;          /* garante que fica por cima */
}

/* ANIMAÇÃO */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.hidden {
    display: none;
}