<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adar Talk</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

    <!-- BOTÃO TEMA -->
    <button id="theme-toggle">Dark 🌙</button>

    <!-- LOGIN -->
    <div id="login-area">
        <h2>🎧 Adar Talk</h2>
        <p style="color:#64748b; margin-bottom:15px;">
            Comunicação interna em tempo real
        </p>

        <input type="text" id="username" placeholder="Seu nome ou setor">

        <button id="start-btn">Entrar</button>
    </div>

    <!-- RÁDIO -->
    <div id="radio-area" class="hidden">
        <h3>🎧 Adar Talk</h3>
        <!-- QUEM ESTÁ FALANDO -->
        <div class="speaker-info" id="speaker-display">
            🔊 Canal Geral
        </div>

        <!-- BOTÃO -->
        <button id="ptt-btn">REC</button>

        <!-- STATUS -->
        <p id="status">📢 Clik para Gravar</p>

    </div>

    <!-- SCRIPT -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>