<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adar Talk</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

    <!-- LOGIN -->
    <div id="login-area">
        <h2>🎧 AdarTalk</h2>
        <p style="margin-bottom:15px; color:#94a3b8;">Comunicação instantânea</p>

        <input type="text" id="username" placeholder="Seu nome ou setor">

        <button id="start-btn">Entrar</button>
    </div>

    <!-- RÁDIO -->
    
    <div id="radio-area" class="hidden">
        <h3>Clique para gravar o Audio</h3>
        <!-- Usuário falando -->
        <div class="speaker-info" id="speaker-display"></div>

        <!-- BOTÃO PTT -->
        <button id="ptt-btn"></button>

        <!-- STATUS -->
        <p id="status">Pronto</p>

    </div>

    <!-- SCRIPT -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>